# Dependências
node_modules

# Build
dist
dist-ssr

# Logs
*.log
npm-debug.log*

# Editor / SO
.DS_Store
.vscode/*
!.vscode/extensions.json
*.local

# Env
.env
.env.*
!.env.example

# Wrangler / Cloudflare
.wrangler
